NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_<>
CLERK_SECRET_KEY=sk_test_<>
CLERK_WEBHOOK_SECRET=ignore

# Local only - otherwise neon db url.
# See `./dev/docker/docker-compose.yml`.
DATABASE_URL=postgresql://scorebrawl:scorebrawl@localhost:5432/scorebrawl

UPLOADTHING_APP_ID=cjmox8rnt4
UPLOADTHING_SECRET=sk_live_<>
UPLOADTHING_URL=http://localhost:5050
